WebContent/wsdl/OpcionaisDAO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DAOs.saladaSaudavel.project.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DAOs.saladaSaudavel.project.com" xmlns:intf="http://DAOs.saladaSaudavel.project.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DAOs.saladaSaudavel.project.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="recuperaOpcionais">
    <complexType/>
   </element>
   <element name="recuperaOpcionaisResponse">
    <complexType>
     <sequence>
      <element name="recuperaOpcionaisReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="recuperaOpcionaisRequest">

      <wsdl:part element="impl:recuperaOpcionais" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="recuperaOpcionaisResponse">

      <wsdl:part element="impl:recuperaOpcionaisResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OpcionaisDAO">

      <wsdl:operation name="recuperaOpcionais">

         <wsdl:input message="impl:recuperaOpcionaisRequest" name="recuperaOpcionaisRequest">

       </wsdl:input>

         <wsdl:output message="impl:recuperaOpcionaisResponse" name="recuperaOpcionaisResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OpcionaisDAOSoapBinding" type="impl:OpcionaisDAO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="recuperaOpcionais">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="recuperaOpcionaisRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="recuperaOpcionaisResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OpcionaisDAOService">

      <wsdl:port binding="impl:OpcionaisDAOSoapBinding" name="OpcionaisDAO">

         <wsdlsoap:address location="http://localhost:8080/Salada_Saud%C3%A1vel/services/OpcionaisDAO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
